In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import calendar
sns.set()

In [2]:
df2014 = pd.read_csv('./data/2014.csv')
df2015 = pd.read_csv('./data/2015.csv')
df2016 = pd.read_csv('./data/2016.csv')
df2017 = pd.read_csv('./data/2017.csv')
df2018 = pd.read_csv('./data/2018.csv')
df2019 = pd.read_csv('./data/2019.csv')
print('shape of 2014 data:', df2014.shape)
print('shape of 2015 data:', df2015.shape)
print('shape of 2016 data:', df2016.shape)
print('shape of 2017 data:', df2017.shape)
print('shape of 2018 data:', df2018.shape)
print('shape of 2019 data:', df2019.shape)

shape of 2014 data: (584, 8)
shape of 2015 data: (584, 8)
shape of 2016 data: (584, 8)
shape of 2017 data: (584, 8)
shape of 2018 data: (584, 8)
shape of 2019 data: (584, 8)

In [3]:
df = pd.concat([df2014,df2015,df2016,df2017,df2018,df2019])

In [4]:
df.shape

(3504, 8)

In [5]:
df.head()

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,2014,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),589.55
1,2014,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),712.79
2,2014,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),540.71
3,2014,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),673.44
4,2014,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),736.09

In [6]:
df.Lloguer_mitja.value_counts()

Lloguer mitjà per superfície (Euros/m2 mes)    1752
Lloguer mitjà mensual (Euros/mes)              1752
Name: Lloguer_mitja, dtype: int64

In [7]:
df2014.head()

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,2014,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),589.55
1,2014,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),712.79
2,2014,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),540.71
3,2014,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),673.44
4,2014,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),736.09

In [25]:
a = df2014.groupby('Lloguer_mitja').max()

In [26]:
b =df2015.groupby('Lloguer_mitja').max()

In [27]:
c = df2016.groupby('Lloguer_mitja').max()

In [28]:
d = df2017.groupby('Lloguer_mitja').max()

In [29]:
e = df2018.groupby('Lloguer_mitja').max()

In [30]:
f = df2019.groupby('Lloguer_mitja').max()

In [31]:
maximum_rent = pd.concat([a,b,c,d,e,f])

In [32]:
maximum_rent

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Preu
Lloguer_mitja,,,,,,,
Lloguer mitjà mensual (Euros/mes),2014,4,10,Sarrià-Sant Gervasi,73,les Tres Torres,1762.06
Lloguer mitjà per superfície (Euros/m2 mes),2014,4,10,Sarrià-Sant Gervasi,73,les Tres Torres,16.14
Lloguer mitjà mensual (Euros/mes),2015,4,10,Sarrià-Sant Gervasi,73,les Tres Torres,2034.00
Lloguer mitjà per superfície (Euros/m2 mes),2015,4,10,Sarrià-Sant Gervasi,73,les Tres Torres,17.00
Lloguer mitjà mensual (Euros/mes),2016,4,10,Sarrià-Sant Gervasi,73,les Tres Torres,1692.20
Lloguer mitjà per superfície (Euros/m2 mes),2016,4,10,Sarrià-Sant Gervasi,73,les Tres Torres,19.22
Lloguer mitjà mensual (Euros/mes),2017,4,10,Sarrià-Sant Gervasi,73,les Tres Torres,1882.42
Lloguer mitjà per superfície (Euros/m2 mes),2017,4,10,Sarrià-Sant Gervasi,73,les Tres Torres,20.61
Lloguer mitjà mensual (Euros/mes),2018,4,10,Sarrià-Sant Gervasi,73,les Tres Torres,1849.52
Lloguer mitjà per superfície (Euros/m2 mes),2018,4,10,Sarrià-Sant Gervasi,73,les Tres Torres,18.15
Lloguer mitjà mensual (Euros/mes),2019,4,10,Sarrià-Sant Gervasi,73,les Tres Torres,2023.40
Lloguer mitjà per superfície (Euros/m2 mes),2019,4,10,Sarrià-Sant Gervasi,73,les Tres Torres,18.50

In [60]:
a= df2014.groupby('Lloguer_mitja').min()

In [34]:
b = df2015.groupby('Lloguer_mitja').min()

In [35]:
c = df2016.groupby('Lloguer_mitja').min()

In [36]:
d = df2017.groupby('Lloguer_mitja').min()

In [37]:
e = df2018.groupby('Lloguer_mitja').min()

In [38]:
f = df2019.groupby('Lloguer_mitja').min()

In [39]:
minimum_rent = pd.concat([a,b,c,d,e,f])
minimum_rent

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Preu
Lloguer_mitja,,,,,,,
Lloguer mitjà mensual (Euros/mes),2014,1,1,Ciutat Vella,1,Baró de Viver,145.45
Lloguer mitjà per superfície (Euros/m2 mes),2014,1,1,Ciutat Vella,1,Baró de Viver,3.54
Lloguer mitjà mensual (Euros/mes),2015,1,1,Ciutat Vella,1,Baró de Viver,187.00
Lloguer mitjà per superfície (Euros/m2 mes),2015,1,1,Ciutat Vella,1,Baró de Viver,4.00
Lloguer mitjà mensual (Euros/mes),2016,1,1,Ciutat Vella,1,Baró de Viver,0.00
Lloguer mitjà per superfície (Euros/m2 mes),2016,1,1,Ciutat Vella,1,Baró de Viver,3.18
Lloguer mitjà mensual (Euros/mes),2017,1,1,Ciutat Vella,1,Baró de Viver,302.52
Lloguer mitjà per superfície (Euros/m2 mes),2017,1,1,Ciutat Vella,1,Baró de Viver,4.45
Lloguer mitjà mensual (Euros/mes),2018,1,1,Ciutat Vella,1,Baró de Viver,434.52
Lloguer mitjà per superfície (Euros/m2 mes),2018,1,1,Ciutat Vella,1,Baró de Viver,7.22
Lloguer mitjà mensual (Euros/mes),2019,1,1,Ciutat Vella,1,Baró de Viver,350.50
Lloguer mitjà per superfície (Euros/m2 mes),2019,1,1,Ciutat Vella,1,Baró de Viver,7.10

In [53]:
df2014.loc[df2014.Lloguer_mitja=='Lloguer mitjà mensual (Euros/mes)']['Preu'].mean()

661.639047619047

In [54]:
df2014.loc[df2014.Lloguer_mitja=='Lloguer mitjà per superfície (Euros/m2 mes)']['Preu'].mean()

9.726776556776557

In [61]:
df2014.loc[df2014.Lloguer_mitja=='Lloguer mitjà mensual (Euros/mes)']['Preu'].max()

1762.06

In [62]:
df2014.loc[df2014.Lloguer_mitja=='Lloguer mitjà mensual (Euros/mes)']['Preu'].min()

145.45